# Arquivo gerado para ambientes de desenvolvimento Node.js, Next.js, e geral.


# Dependências
/node_modules
/.pnp
.pnp.js

# Caches de dependências
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.json

# Arquivos de build e produção
/build
/dist
/.next/
/out/

# Arquivos de configuração de IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
.env.test

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
